In [1]:
%load_ext sql

In [79]:
# Standard python libraries for reading/writing
from time import time
from time import sleep
import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import json

# For connection to AWS
import boto3
from botocore.exceptions import ClientError

In [80]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")
DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")


DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")

In [81]:
# Connect for AWS resource/clients
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

ec2_client = boto3.client('ec2', 
                          region_name='us-west-2',
                          aws_access_key_id=KEY,
                          aws_secret_access_key=SECRET
                         )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

s3_client = boto3.client('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [82]:
# Get ARN
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

arn:aws:iam::609442954254:role/dwhRole

In [83]:
response = ec2_client.describe_security_groups(GroupNames = ['redshift_security_group'])
vpcGroupId = response['SecurityGroups'][0]['GroupId']
print(vpcGroupId)

sg-02bc099dc82c44411

In [84]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        # VPC Security Group
        VpcSecurityGroupIds=[vpcGroupId],
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

In [87]:
try:
    myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
    while myClusterProps['ClusterStatus'] == 'creating':
        time.sleep(20)
        try:
            myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
        except Exception as e:
            print(e)
            break
        print(myClusterProps['ClusterStatus'])
except Exception as e:
    print(e)
print("Created")

Created

In [88]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print(DWH_ENDPOINT)
print(DWH_ROLE_ARN)

dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com
arn:aws:iam::609442954254:role/dwhRole

In [98]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
#print(conn_string)
%sql $conn_string

(psycopg2.OperationalError) could not translate host name "dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com" to address: Unknown host
 (Background on this error at: http://sqlalche.me/e/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh'])

In [12]:
test_bucket = 'udacity-dend'

# Experimenting reading getting list of objects in a S3 bucket

In [ ]:
# Not used for this project but just to be able to get list of objects in a s3 bucket
def get_folders(client, bucket, prefix):
    """Retrieve all folders within a specified directory.

    1. Set bucket name.
    2. Set delimiter (a character that our target files have in common).
    3. Set folder path to objects using "Prefix" attribute.
    4. Create list of all recursively discovered folder names.
    5. Return list of folders.
    """
    get_folder_objects = client.list_objects_v2(
        Bucket=bucket,
        Delimiter='',
        EncodingType='url',
        MaxKeys=1000,
        Prefix=prefix,
        FetchOwner=False, StartAfter='')
    folders = [item['Key'] for item in get_folder_objects['Contents']]
    return folders

In [ ]:
folders = get_folders(s3_client, test_bucket, 'song_data/')
folders.remove('song_data/')

In [ ]:
print(f's3://{test_bucket}/{folders[0]}')

In [ ]:
folders = get_folders(s3_client, test_bucket, 'log_data/')
folders.remove('log_data/')

# Create Staging Tables and test data copy

In [49]:
%%sql
DROP TABLE IF EXISTS events CASCADE;

CREATE TABLE IF NOT EXISTS events (
    songplay_id BIGINT IDENTITY(0,1),
    artist VARCHAR,
    auth VARCHAR,
    firstName VARCHAR,
    gender VARCHAR,
    itemInSession INTEGER,
    lastName VARCHAR,
    length REAL,
    level VARCHAR,
    location VARCHAR,
    method VARCHAR,
    page VARCHAR,
    registration FLOAT8,
    sessionId INTEGER,
    song VARCHAR,
    status INTEGER,
    ts BIGINT,
    userAgent VARCHAR,
    userId INT,
    PRIMARY KEY(songplay_id)
);

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [14]:
%%sql
CREATE TABLE IF NOT EXISTS song_logs (
    num_songs INTEGER,
    artist_id VARCHAR,
    artist_latitude REAL,
    artist_longitude REAL,
    artist_location VARCHAR,
    artist_name VARCHAR, 
    song_id VARCHAR,
    title VARCHAR,
    duration REAL,
    year INTEGER,
    PRIMARY KEY(song_id)
);

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [56]:
%%sql
CREATE TABLE IF NOT EXISTS users (
    user_id INTEGER NOT NULL, 
    first_name VARCHAR, 
    last_name VARCHAR, 
    gender VARCHAR, 
    level VARCHAR,
    PRIMARY KEY(user_id)
);

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [44]:
%%sql
COPY song_logs FROM 's3://udacity-dend/song_data'
CREDENTIALS 'aws_iam_role=arn:aws:iam::609442954254:role/dwhRole'
JSON 'auto';

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [68]:
%%sql
SELECT * FROM song_logs WHERE artist_latitude IS NOT NULL LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(1, 'ARSZ7L31187FB4E610', 39.74, -104.992, 'Denver, CO', 'Devotchka', 'SORRNOC12AB017F52B', 'The Last Beat Of My Heart (b-side)', 337.815, 2004),
 (1, 'ARN4G4X1187FB485B4', 54.3139, -2.23218, 'Great Britain / UK', 'The Donkeys', 'SOSLGRK12A58A76E90', 'Excelsior Lady', 214.961, 0),
 (1, 'ARNCNV91187FB4D552', 31.3893, 35.3612, 'Israel', 'Astral Projection', 'SOIGIVK12AB018E9AA', 'Ionized', 444.839, 1996),
 (1, 'ARX3XRG1187FB5247E', 40.1432, -74.7267, 'New Jersey USA', 'Osanna', 'SOPKYNK12A8AE45F1A', 'Oro Caldo', 1108.24, 1973),
 (1, 'ARH7SJ01187B98DB6D', 38.8991, -77.029, 'Washington, DC', 'Frodus', 'SOGUMJN12AB01826E6', 'Cha-Chi (English Version - Bonus Track)', 122.2, 0),
 (1, 'ARMHQZE1187B99A822', 39.9275, -75.0305, 'Cherry Hill, New Jersey', 'Toby Lightman', 'SOUUYPM12A81C20F0D', 'One Day', 205.087, 2008),
 (1, 'ARQOC971187B9910FA', 42.7338, -84.5933, 'Lansing, MI', 'The Verve Pipe', 'SOOGNJP12A8C1381AD', 'Medicate Myself', 292.832, 2001),
 (1, 'ARI0PUX1187FB3F215', 54.3139, -2.23218, 'Great Britain / UK', 'Maxi Priest', 'SORWXUP12A58A79E65', "Groovin' In The Midnight", 301.818, 1991),
 (1, 'AR7BMMV1187FB5B2D7', 39.1509, -123.208, 'Ukiah, CA', 'Robben Ford', 'SOOSYMY12AB01888CD', 'I Got Over It (Album Version)', 203.99, 1988),
 (1, 'AR4HOIS1187B9B0C00', 40.9947, -77.6045, 'Pennsylvania', 'Echolyn', 'SOWTIGA12AB0188F63', 'The Cheese Stands Alone', 298.187, 1995)]

In [67]:
%%sql
SELECT count(artist_id) FROM song_logs;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [51]:
%%sql
COPY events FROM 's3://udacity-dend/log_data'
CREDENTIALS 'aws_iam_role=arn:aws:iam::609442954254:role/dwhRole'
JSON 's3://udacity-dend/log_json_path.json';

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [52]:
%%sql
SELECT * FROM events WHERE page = 'NextSong' LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(1, 'N.E.R.D. FEATURING MALICE', 'Logged In', 'Jayden', 'M', 0, 'Fox', 288.992, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796.0, 184, 'Am I High (Feat. Malice)', 200, 1541121934796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 (9, 'Death Cab for Cutie', 'Logged In', 'Stefany', 'F', 1, 'White', 216.424, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796.0, 82, 'A Lack Of Color (Album Version)', 200, 1541122241796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 (13, 'Tracy Gang Pussy', 'Logged In', 'Stefany', 'F', 2, 'White', 221.335, 'free', 'Lubbock, TX', 'PUT', 'NextSong', 1540708070796.0, 82, 'I Have A Wish', 200, 1541122457796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 83),
 (17, 'Skillet', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 178.024, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', 1540006905796.0, 153, 'Monster (Album Version)', 200, 1541126568796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 66),
 (21, 'Dance Gavin Dance', 'Logged In', 'Marina', 'F', 0, 'Sutton', 218.462, 'free', 'Salinas, CA', 'PUT', 'NextSong', 1541064343796.0, 47, 'Uneasy Hearts Weigh The Most', 200, 1541127957796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 48),
 (29, 'Dalto', 'Logged In', 'Aiden', 'M', 1, 'Hess', 190.406, 'free', 'La Crosse-Onalaska, WI-MN', 'PUT', 'NextSong', 1540829025796.0, 170, 'Falta Te Dizer', 200, 1541129674796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"', 86),
 (33, 'Kanye West', 'Logged In', 'Makinley', 'F', 0, 'Jones', 278.883, 'free', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', 1541091973796.0, 118, 'Family Business', 200, 1541135741796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 17),
 (37, 'Jason Mraz & Colbie Caillat', 'Logged In', 'Kevin', 'M', 0, 'Arellano', 189.622, 'free', 'Harrisburg-Carlisle, PA', 'PUT', 'NextSong', 1540006905796.0, 187, 'Lucky (Album Version)', 200, 1541137949796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 66),
 (41, 'Liz Callaway', 'Logged In', 'Lily', 'F', 0, 'Koch', 175.438, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', 1541048010796.0, 172, 'Journey To The Past  (LP Version)', 200, 1541149281796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 15),
 (45, 'The Decemberists', 'Logged In', 'Lily', 'F', 1, 'Koch', 242.599, 'paid', 'Chicago-Naperville-Elgin, IL-IN-WI', 'PUT', 'NextSong', 1541048010796.0, 172, 'Everything I Try to Do_ Nothing Seems to Turn Out Right', 200, 1541149456796, '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 15)]

In [ ]:
%%sql
SELECT count(songplay_id) FROM events WHERE page = 'NextSong';

In [ ]:
%%sql
SELECT * FROM events WHERE artist IS NOT NULL LIMIT 10;

In [53]:
%%sql
SELECT TIMESTAMP 'epoch' + ts/1000 * interval '1 second' AS ts_test
FROM events LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(2018, 11, 2, 1, 25, 34),),
 (datetime.datetime(2018, 11, 2, 1, 29, 36),),
 (datetime.datetime(2018, 11, 2, 1, 30, 41),),
 (datetime.datetime(2018, 11, 2, 1, 34, 17),),
 (datetime.datetime(2018, 11, 2, 2, 42, 48),),
 (datetime.datetime(2018, 11, 2, 3, 5, 57),),
 (datetime.datetime(2018, 11, 2, 3, 32, 41),),
 (datetime.datetime(2018, 11, 2, 3, 34, 34),),
 (datetime.datetime(2018, 11, 2, 5, 15, 41),),
 (datetime.datetime(2018, 11, 2, 5, 52, 29),)]

In [59]:
%%sql
INSERT INTO users (user_id, first_name, last_name, gender, level)
SELECT DISTINCT userId, firstName, lastName, gender, level
FROM events WHERE userId IS NOT NULL 
ORDER BY sessionId DESC;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
105 rows affected.

[]

In [61]:
%%sql
select * from users where user_id = 17

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(17, 'Makinley', 'Jones', 'F', 'free')]

In [63]:
%%sql
INSERT INTO times (start_time, hour, day, week, month, year, weekday)
SELECT ts, extract(hour from ts_timestamp), extract(day from ts_timestamp), extract(week from ts_timestamp), extract(month from ts_timestamp), extract(year from ts_timestamp), extract(weekday from ts_timestamp)
FROM (SELECT DISTINCT ts, TIMESTAMP 'epoch' + ts/1000 * interval '1 second' AS ts_timestamp FROM events);

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
8023 rows affected.

[]

In [64]:
%%sql
select * from times limit 10;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(1541122241796, 1, 2, 44, 11, 2018, 5),
 (1541129561796, 3, 2, 44, 11, 2018, 5),
 (1541149281796, 9, 2, 44, 11, 2018, 5),
 (1541149952796, 9, 2, 44, 11, 2018, 5),
 (1541150563796, 9, 2, 44, 11, 2018, 5),
 (1541151611796, 9, 2, 44, 11, 2018, 5),
 (1541152499796, 9, 2, 44, 11, 2018, 5),
 (1541153263796, 10, 2, 44, 11, 2018, 5),
 (1541153985796, 10, 2, 44, 11, 2018, 5),
 (1541154791796, 10, 2, 44, 11, 2018, 5)]

In [74]:
%%sql
DROP TABLE IF EXISTS songplays;

CREATE TABLE IF NOT EXISTS songplays
(
    songplay_id BIGINT,
    start_time BIGINT NOT NULL,
    user_id INTEGER NOT NULL,
    level VARCHAR,
    song_id VARCHAR,
    artist_id VARCHAR,
    session_id INTEGER,
    location VARCHAR,
    user_agent VARCHAR,
    PRIMARY KEY(songplay_id),
    FOREIGN KEY(start_time) REFERENCES times(start_time),
    FOREIGN KEY(user_id) REFERENCES users(user_id),
    FOREIGN KEY(song_id) REFERENCES songs(song_id),
    FOREIGN KEY(artist_id) REFERENCES artists(artist_id)
);

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [76]:
%%sql
INSERT INTO songplays (songplay_id, start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
SELECT songplay_id, ts, userId, level, song_id, artist_id, sessionId, location, userAgent
FROM events
FULL JOIN songs ON events.artist = songs.artist_name AND events.song = songs.title
WHERE userId IS NOT NULL;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
7770 rows affected.

[]

In [96]:
%%sql
DROP TABLE IF EXISTS songs CASCADE;

CREATE TABLE IF NOT EXISTS songs (
    song_id VARCHAR, 
    title VARCHAR, 
    artist_id VARCHAR DISTKEY, 
    year INTEGER SORTKEY, 
    duration REAL,
    PRIMARY KEY(song_id)
);

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
Done.

[]

In [97]:
%%sql
INSERT INTO songs (song_id, title, artist_id, year, duration)
SELECT DISTINCT song_id, title, artist_id, year, duration
FROM song_logs;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
14896 rows affected.

[]

In [37]:
staging_songs_copy = ("""
COPY songs FROM {}
CREDENTIALS {}
JSON 'auto'
""").format(config.get('S3', 'SONG_DATA'), config.get('IAM_ROLE', 'ARN'))
staging_songs_copy

"\nCOPY songs FROM 's3://udacity-dend/song_data'\nCREDENTIALS 'arn:aws:iam::988332130976:role/dwhRole'\nJSON 'auto'\n"

# For Clean Up to delete cluster

In [77]:
# Delete Cluster
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2020, 2, 18, 1, 4, 0, 941000, tzinfo=tzutc()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ManualSnapshotRetentionPeriod': -1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-02bc099dc82c44411',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-f055cc88',
  'AvailabilityZone': 'us-west-2a',
  'PreferredMaintenanceWindow': 'mon:12:00-mon:12:30',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 2,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::609442954254:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current',
  'DeferredMaintenanceWindows': []},
 'ResponseMetadata': {'RequestId': '000998c7-520e-11ea-8681-0f765c7dfbf7',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '000998c7-520e-11ea-8681-0f765c7dfbf7',
   'content-type': 'text/xml',
   'content-length': '2391',
   'vary': 'Accept-Encoding',
   'date': 'Tue, 18 Feb 2020 05:17:46 GMT'},
  'RetryAttempts': 0}}

In [78]:
try:
    myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
    while myClusterProps['ClusterStatus'] == 'deleting':
        time.sleep(20)
        try:
            myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
        except Exception as e:
            print(e)
            break
        print(myClusterProps['ClusterStatus'])
except Exception as e:
    print(e)
print("Deleted")

deleting
deleting
deleting
deleting
deleting
deleting
deleting
An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhcluster not found.
Deleted