In [3]:
%load_ext sql

In [1]:
# Standard python libraries for reading/writing
from time import time
from time import sleep
import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import json

# For connection to AWS
import boto3
from botocore.exceptions import ClientError

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")
DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")


DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")

# Connect to AWS and connect to DB

In [6]:
# Connect for AWS resource/clients
ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

ec2_client = boto3.client('ec2', 
                          region_name='us-west-2',
                          aws_access_key_id=KEY,
                          aws_secret_access_key=SECRET
                         )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

s3_client = boto3.client('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

In [29]:
# Check Cluster status to get endpoint and ARN
try:
    myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
    while myClusterProps['ClusterStatus'] == 'creating':
        time.sleep(20)
        try:
            myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
        except Exception as e:
            print(e)
            break
        print(myClusterProps['ClusterStatus'])
except Exception as e:
    print(e)
print(myClusterProps['ClusterStatus'])

An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhcluster not found.
deleting

In [9]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print(DWH_ENDPOINT)
print(DWH_ROLE_ARN)

dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com
arn:aws:iam::609442954254:role/dwhRole

In [30]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
#print(conn_string)
%sql $conn_string

(psycopg2.OperationalError) could not translate host name "dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com" to address: Unknown host
 (Background on this error at: http://sqlalche.me/e/e3q8)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh'])

# Run queries on created tables from ETL

In [11]:
%%sql
SELECT count(artist_id) FROM song_logs;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [12]:
%%sql
SELECT * FROM events WHERE page = 'NextSong' LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(11, 'Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.948, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Playa Haters', 200, 1541207150796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 (15, 'Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.478, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'You Belong With Me', 200, 1541207316796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 (19, 'Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.851, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Valerie', 200, 1541207546796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 (23, 'Jimmy Eat World', 'Logged In', 'Celeste', 'F', 5, 'Williams', 285.831, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Dizzy', 200, 1541207775796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 (31, 'Maldita Nerea', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 241.162, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796.0, 158, 'Supelicula', 200, 1541254670796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69),
 (35, 'Fluke', 'Logged In', 'Connar', 'M', 0, 'Moreno', 478.929, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540823606796.0, 168, 'Bermuda', 200, 1541257880796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10) AppleWebKit/538.46 (KHTML, like Gecko) Version/8.0 Safari/538.46"', 62),
 (39, 'Habib KoitÃ\x83Â©', 'Logged In', 'Jayden', 'M', 0, 'Fox', 285.152, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796.0, 185, 'Din Din Wo', 200, 1541259368796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 (43, 'The Kooks', 'Logged In', 'Sara', 'F', 0, 'Johnson', 132.258, 'paid', 'Winston-Salem, NC', 'PUT', 'NextSong', 1540809153796.0, 152, "Eddie's Gun", 200, 1541260356796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 95),
 (47, 'Blues Traveler', 'Logged In', 'Sara', 'F', 1, 'Johnson', 290.246, 'paid', 'Winston-Salem, NC', 'PUT', 'NextSong', 1540809153796.0, 152, 'Hook', 200, 1541260488796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 95),
 (51, 'Coldplay', 'Logged In', 'Sara', 'F', 2, 'Johnson', 298.762, 'paid', 'Winston-Salem, NC', 'PUT', 'NextSong', 1540809153796.0, 152, 'Shiver', 200, 1541260778796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 95)]

In [13]:
%%sql
SELECT count(songplay_id) FROM events WHERE page = 'NextSong';

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6820,)]

In [14]:
%%sql
SELECT * FROM events WHERE artist IS NOT NULL LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(11, 'Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.948, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Playa Haters', 200, 1541207150796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 (15, 'Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.478, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'You Belong With Me', 200, 1541207316796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 (19, 'Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.851, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Valerie', 200, 1541207546796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 (23, 'Jimmy Eat World', 'Logged In', 'Celeste', 'F', 5, 'Williams', 285.831, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796.0, 52, 'Dizzy', 200, 1541207775796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 (31, 'Maldita Nerea', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 241.162, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796.0, 158, 'Supelicula', 200, 1541254670796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69),
 (35, 'Fluke', 'Logged In', 'Connar', 'M', 0, 'Moreno', 478.929, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540823606796.0, 168, 'Bermuda', 200, 1541257880796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10) AppleWebKit/538.46 (KHTML, like Gecko) Version/8.0 Safari/538.46"', 62),
 (39, 'Habib KoitÃ\x83Â©', 'Logged In', 'Jayden', 'M', 0, 'Fox', 285.152, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796.0, 185, 'Din Din Wo', 200, 1541259368796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 (43, 'The Kooks', 'Logged In', 'Sara', 'F', 0, 'Johnson', 132.258, 'paid', 'Winston-Salem, NC', 'PUT', 'NextSong', 1540809153796.0, 152, "Eddie's Gun", 200, 1541260356796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 95),
 (47, 'Blues Traveler', 'Logged In', 'Sara', 'F', 1, 'Johnson', 290.246, 'paid', 'Winston-Salem, NC', 'PUT', 'NextSong', 1540809153796.0, 152, 'Hook', 200, 1541260488796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 95),
 (51, 'Coldplay', 'Logged In', 'Sara', 'F', 2, 'Johnson', 298.762, 'paid', 'Winston-Salem, NC', 'PUT', 'NextSong', 1540809153796.0, 152, 'Shiver', 200, 1541260778796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 95)]

In [15]:
%%sql
SELECT TIMESTAMP 'epoch' + ts/1000 * interval '1 second' AS ts_test
FROM events LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(datetime.datetime(2018, 11, 3, 1, 4, 33),),
 (datetime.datetime(2018, 11, 3, 1, 5, 23),),
 (datetime.datetime(2018, 11, 3, 1, 5, 50),),
 (datetime.datetime(2018, 11, 3, 1, 8, 36),),
 (datetime.datetime(2018, 11, 3, 1, 12, 26),),
 (datetime.datetime(2018, 11, 3, 1, 16, 15),),
 (datetime.datetime(2018, 11, 3, 10, 9, 9),),
 (datetime.datetime(2018, 11, 3, 14, 17, 50),),
 (datetime.datetime(2018, 11, 3, 15, 11, 20),),
 (datetime.datetime(2018, 11, 3, 15, 36, 8),)]

In [16]:
%%sql
select * from users where user_id = 17

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(17, 'Makinley', 'Jones', 'F', 'free')]

In [17]:
%%sql
select * from times limit 10;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(1541105830796, 20, 1, 44, 11, 2018, 4),
 (1541106673796, 21, 1, 44, 11, 2018, 4),
 (1541122241796, 1, 2, 44, 11, 2018, 5),
 (1541126568796, 2, 2, 44, 11, 2018, 5),
 (1541135741796, 5, 2, 44, 11, 2018, 5),
 (1541149281796, 9, 2, 44, 11, 2018, 5),
 (1541150176796, 9, 2, 44, 11, 2018, 5),
 (1541151325796, 9, 2, 44, 11, 2018, 5),
 (1541151743796, 9, 2, 44, 11, 2018, 5),
 (1541153045796, 10, 2, 44, 11, 2018, 5)]

In [21]:
%%sql
SELECT * FROM songplays WHERE level = 'paid' LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(926, 1541429341796, 24, 'paid', None, None, 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (934, 1541429532796, 24, 'paid', None, None, 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (938, 1541429782796, 24, 'paid', None, None, 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (942, 1541429962796, 24, 'paid', None, None, 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (946, 1541430115796, 24, 'paid', None, None, 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (950, 1541430344796, 24, 'paid', None, None, 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (958, 1541430545796, 24, 'paid', None, None, 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (1006, 1541431190796, 24, 'paid', None, None, 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (1030, 1541431427796, 24, 'paid', None, None, 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (1050, 1541431670796, 24, 'paid', None, None, 23, 'Lake Havasu City-Kingman, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"')]

In [26]:
%%sql
SELECT * FROM songs WHERE year != 0 ORDER BY year DESC LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('SOXVRQB12AC468CA7A', 'Spitting Speed', 'ARC49IH1187B996A01', 2010, 269.165),
 ('SOESYVT12AB018479D', "Ore D'Amore", 'ARQA86X1187FB588E7', 2010, 172.8),
 ('SOUSUUY12AB01869DB', "Something's Going to Break", 'ARWC13L1187B9B3E74', 2010, 182.282),
 ('SOFDJGX12AB0187678', 'Ever So Shy', 'AR6LKZQ11C8A422267', 2010, 204.408),
 ('SOOIMEA12A8C1411F5', 'Forget Me Not', 'ARFSQKP1187FB50B59', 2010, 209.815),
 ('SOGFAYW12AB0186716', 'Fridays', 'ARM0XKJ1187FB46517', 2010, 640.809),
 ('SOGCHYZ12AF72A69EC', 'That Tree (feat. Kid Cudi)', 'ARZ5H0P1187B98A1DD', 2010, 270.889),
 ('SOIWLVD12AB018542D', 'Blau', 'ARG4JDX1187FB434D6', 2010, 452.597),
 ('SODFWCO12AB018C18E', 'Hello There', 'ARJWPFY12086C12521', 2010, 223.477),
 ('SOZJTNN12AC4687BE2', 'Blvd de Clichy', 'ARR6DQ11187B9A69D4', 2010, 240.457)]

# For Clean Up to delete cluster

In [27]:
# Delete Cluster
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'dwhcluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'dwhuser',
  'DBName': 'dwh',
  'Endpoint': {'Address': 'dwhcluster.cuu5xoh3njh1.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2020, 2, 18, 5, 25, 26, 101000, tzinfo=tzutc()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ManualSnapshotRetentionPeriod': -1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-02bc099dc82c44411',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-f055cc88',
  'AvailabilityZone': 'us-west-2b',
  'PreferredMaintenanceWindow': 'mon:12:30-mon:13:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 2,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::609442954254:role/dwhRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current',
  'DeferredMaintenanceWindows': []},
 'ResponseMetadata': {'RequestId': '7d5ab04d-522e-11ea-9427-e1b036d1ad03',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '7d5ab04d-522e-11ea-9427-e1b036d1ad03',
   'content-type': 'text/xml',
   'content-length': '2391',
   'vary': 'Accept-Encoding',
   'date': 'Tue, 18 Feb 2020 09:10:21 GMT'},
  'RetryAttempts': 0}}

In [28]:
try:
    myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
    while myClusterProps['ClusterStatus'] == 'deleting':
        time.sleep(20)
        try:
            myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
        except Exception as e:
            print(e)
            break
        print(myClusterProps['ClusterStatus'])
except Exception as e:
    print(e)
print("Deleted")

deleting
deleting
deleting
deleting
deleting
deleting
deleting
deleting
An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhcluster not found.
Deleted